button {
  width: 76px;
  height: 21px;
}

.Cart-resalt {
  padding-top: 23px;
  padding-right: 122px;
  justify-content: flex-end;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  gap: 46px;
}

.Cart-body {
  display: block;
  padding-top: 71px;
}