.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 22px 10px 20px

}

.Item-price {
  width: auto;
  padding: 20px 16px;
  white-space: nowrap;
  font-size: 18px;
}

.Item-amount {
  width: auto;
  padding: 20px 14px 20px 49px;
  font-size: 18px;
  white-space: nowrap;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}