.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  gap: 12px;
}

.Controls-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Controls-span {
  font-weight: 700;
  margin-right: 8px;
}

.Controls-button{
  width: 80px;
}